body

{
    
        color: black
}

*{
    font-family: georgia
}

h1 {
    background-color: seagreen
}

p {
    
    background-color: darkseagreen }



a:hover {
    
    background-color:whitesmoke
}

{
background-image: url("../imgs/g2.jpg")
}
